h1{
    text-align: center;
    margin-top: 30px;
}

.center{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.form{
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px auto 0 auto;
    border: solid 1px black;
    border-radius: 20px
}

.form .button{
    display: block;
    width: 200px;
    margin: 0 auto;
}

