body{
    #output{
        display: flex;
        flex-wrap: wrap;
        .output_wrap{
            border: 1px solid black;
            width: 20vw;
            margin: 20px;
            padding: 10px;
        }
    }
}
