body{
    main{
        h1{
            font-size: 30px;
            text-align: center;
            margin: 2em;
            border-bottom: 1px solid #dcc8a0;
        }
        #send_item{
            display: block;
            width: 800px;
            text-align: center;
            margin: 0 auto;
            box-sizing: border-box;
            .nextbtn{
                display: flex;
                justify-content:space-between;
                // background-color: #CCBA95;
                text-align: center;
                width: 500px;
                margin: 9em auto;
                a{
                    display: inline-block;
                    line-height: 60px;
                    width: 200px;
                    background-color: white;
                    color: #90c0dca2;
                    border: #90c0dca2 solid 1px;
                }
                a:hover{
                    background-color: #90c0dca2;
                    color: white;
                }
                button{
                    height: 60px;
                    width: 200px;
                    background-color: #970747;
                    border: #970747 solid 1px;    
                    color: white;
                }
                button:hover{
                    background-color: white;
                    color: #970747;
                }
            }
            h2{
                font-size: 40px;
                text-align: center;
                // background-color: #D59E9E;
                width: 50%;
                margin: 30px auto;
                letter-spacing: 0.3em;
                z-index: 999;
                color: #CCBA95;
                font-size: 20px;
                text-align: center;
                margin-top: 2em;
                letter-spacing: 0.3em;
            }
            h2{
                position: relative;
                z-index: 999;
                &::before{
                    position: absolute;
                    top: 50%;
                    left: 5%;
                    z-index: 1;
                    content: '';
                    display: block;
                    width: 20%;
                    height: 1px;
                    background-color: #CCBA95;
                }
                &::after{
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    z-index: 1;
                    content: '';
                    display: block;
                    width: 20%;
                    height: 1px;
                    background-color: #CCBA95;
                }
            }            
            table{
                tr{
                    // border-bottom: 1px #e5e5e5 solid;
                    // border-top: 1px #e5e5e5 solid;
                    th{
                        background: #F5F5F5;
                        text-align: left;
                        width: 26%;
                        font-size: 16px;
                        font-weight: 600;
                        vertical-align:middle;
                        padding: 16px 30px;
                        letter-spacing: 0.3em;
                        font-family: 'Noto Serif JP', serif;
                        // font-family: 'M PLUS Rounded 1c', sans-serif;
                        // font-family: 'Noto Sans JP',"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
                    }
                    td{
                        width: 600px;
                        vertical-align:middle;
                        text-align: left;
                        input[type="text"], 
                        input[type="email"], 
                        input[type="password"], 
                        input[type="tel"],
                        select{
                            border: solid 1px #ccc;
                            margin-left: 1.5em;
                            height: 40px;
                            width: 70%;
                            padding: 5px 8px;
                            border-radius: 3px;
                        }
                        select{
                            background-image: url('../img/icon/select_icon.png');
                            background-position: right 10px center;
                            background-repeat: no-repeat;
                            background-size: 13px,13px;
                        }
                        input.yen{
                            margin-left: 0em;
                        }
                        span{
                            margin-left: 1.5em;
                        }
                        .error{
                            color: red;
                        }
                        .error{
                            display: block;
                            color: red;
                            margin-top: 0.5em;
                            margin-bottom: 0.5em;
                        }
                    }
                }
                tr.borber_non{
                    // border-bottom: 1px #e5e5e5 solid;
                }
            }
        }
    }
}